<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    {% block head %}
    {#    设置页面的视口，让页面根据设备的宽度自动缩放页面    #}
    {# <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
        <title>{{ user.name }}的观影列表</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    <h2 class="title">
        <div class="square"><img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}"></div>
        {{ user.name }}的观影列表
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">主页</a></li>
            {% if current_user.is_authenticated %}
                <li class="float-right"><a href="{{ url_for('logout') }}">登出</a></li>
                <li class="float-right"><a href="{{ url_for('settings') }}">设置</a></li>
            {% else %}
                <li class="float-right"><a href="{{ url_for('login') }}">登录</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
    <footer>
        <small>&copy; 2022 <a href="https://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
</body>
</html>
